<div class="column">
  <form class="control has-text-centered" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label name="email" class="label"> Email: </label>
    <input type="email" name="email" formControlName="email">

    <label name="password" class="label">Mot de passe: </label>
    <input type="password" class="control" name="password" formControlName="password">

    <label name="confirmPassword" class="label">Confirmez votre mot de passe: </label>
    <input type="password" class="control" name="confirmPassword" formControlName="confirmPassword">

    <p> Votre mot de passe doit contenir au minimum 1 caractère spécial, 1 chiffre, 1 lettre et entre 6 et 30 caractères</p>

    <button type="submit" class="button is-black" [disabled]="userForm.invalid"> Valider</button>
  </form>
</div>