<div class="column">
    <table class="table operation-table">
      <thead>
        <tr>
          <th>Entrées</th>
          <th>Sorties</th>
          <th>Description</th>
          <th>Date</th>
          <th>Tags</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let op of budget.operations">
          <td *ngIf="op.sum >= 0; else elseBlock" [ngStyle]="{'color':'#18F051'}"> {{op.sum}} </td>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>

          <td *ngIf="op.sum < 0; else elseBlock" [ngStyle]="{'color':'#F0181F'}"> {{op.sum}} </td>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>

          <td>{{op.description}}</td>
          <td>{{op.date | date:'dd/MM/yyyy'}}</td>
          <td>{{op.tags}}</td>
          <td>{{op.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
