<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item " routerLink="">
      Budget Jones
    </a>
    <a routerLink="budgets" class="navbar-item">
      Budgets
    </a>
  </div>
  <div class="navbar-end">
    <a class="navbar-item" routerLink="subscribe">
      S'inscrire
    </a>
  </div>
</nav>
