<div class="container has-text-centered">

  <h1 class=" title is-1">Home</h1>

  <section class="column">
    <table class="table total-table">
      <thead>
        <tr>
          <th>Entrées</th>
          <th>Sorties</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="total-input">{{input}}</td>
          <td id="total-output">{{output}}</td>
          <td id="total-sum">{{total}}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <div class="column">
    <form class="control has-text-centered" (ngSubmit)="addOperation()">
      <input class="input" [(ngModel)]="newOperation.sum" name="sum" placeholder="Somme" type="number">
      <input class="input" [(ngModel)]="newOperation.description" name="description" placeholder="Description" type="text">
      <input class="input" [(ngModel)]="newOperation.date" name="date" placeholder="date en timestamp" type="date" type="datetime-local">
      <input class="input" [(ngModel)]="tags" name="tags" placeholder="tags" type="text">
      <input class="input" [(ngModel)]="newOperation.type" name="type" placeholder="type" type="text">

      <button class="button is-black">Nouvelle opération</button>
    </form>
  </div>
  <div class="column">
    <table class="table operation-table">
      <thead>
        <tr>
          <th>Entrées</th>
          <th>Sorties</th>
          <th>Description</th>
          <th>Date</th>
          <th>Budgets</th>
          <th>Tags</th>
          <th>Type</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of operations" class="selected">
          <td *ngIf="item.sum >= 0; else elseBlock" [ngStyle]="{'color':'#18F051'}"> {{item.sum}} </td>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>

          <td *ngIf="item.sum < 0; else elseBlock" [ngStyle]="{'color':'#F0181F'}"> {{item.sum}} </td>
          <ng-template #elseBlock>
            <td></td>
          </ng-template>

          <td>{{item.description}}</td>
          <td class="date">{{item.date | date:'dd/MM/yyyy'}}</td>
          <td><a *ngFor="let budget of item.budgets" [routerLink]="['budgets',budget.id]">{{budget.name}}</a></td>

          <td><a *ngFor="let tag of item.tags">{{tag}} </a></td>
          <td>{{item.type}}</td>


          <td>
            <button class="button" (click)="selected = item">
              <span class="icon">
                <i class="fas fa-pen"></i>
              </span>
            </button>
          </td>

          <td>
            <button class="button is-black" (click)="deleteOperation(item)">
              <span class="icon">
                <i class="fas fa-trash"></i>
              </span>
            </button>
          </td>

          <td *ngIf="item.id === selected.id">
            <app-update-form [updated]="selected" (submit)="updateOperation($event)"></app-update-form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>