<form (ngSubmit)="login()" *ngIf="!(isLogged | async)">

  <label for="username">Username</label>
  <input type="text" [(ngModel)]="username" name="username">

  <label for="password">Password</label>
  <input type="password" [(ngModel)]="password" name="password">

  <button>Login</button>
  <p *ngIf="feedback">{{feedback}}</p>
</form>
<section *ngIf="isLogged | async">
    <p>Welcome {{(isLogged | async).username}}</p>
    <button (click)="logout()">Logout</button>
 <!--
   <a routerLink="/admin/message">Adminstration</a>
   ICI METTRE LIEN QUI RENVOI VERS PAGE GESTION PROFILE ?
  -->
</section>
